<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>KONSU | WEB</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- ICON WEB SERVER -->
    <link href="{{ url_for('static', filename='icon_logo/side_nav.png') }}" rel="icon"> 

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" />

    <!-- Sweetalert --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>

    <style>
      .swal2-confirm.btn-custom-green {
          background-color: #28a745 !important;
      }
      .swal2-cancel.btn-custom-red {
          background-color: #dc3545 !important;
      }
      .swal2-actions .swal2-confirm {
          margin-right: 10px; /* Adjust the spacing between buttons */
      }
  </style>


  </head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ url_for('homepage_admin') }}" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='icon_logo/side_nav.png') }}" alt="" class="img-fluid">
                <span class="d-none d-lg-block">KONSU APP</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="search-bar">
            <li class="nav-item d-block d-lg" style="margin: 30px">
                <span id="currentDateTime">
                    {{ current_date }}, {{ current_time }}
                </span>

                <script>
                    function updateDateTime() {
                        var now = new Date();
                        var day = now.toLocaleDateString("id-ID", {
                            weekday: "long",
                        });
                        var date = now.toLocaleDateString("id-ID", {
                            day: "numeric",
                            month: "long",
                            year: "numeric",
                        });
                        var time = now.toLocaleTimeString("id-ID", {
                            hour: "2-digit",
                            minute: "2-digit",
                        });

                        var currentDateTime = day + ", " + date + ", " + time;
                        document.getElementById("currentDateTime").textContent =
                            currentDateTime;
                    }

                    setInterval(updateDateTime, 1000); // Memperbarui setiap 1 detik
                </script>
            </li>
            <!-- End Search Icon-->
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <!-- profile pojok kanan -->
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" alt="Profile" class="rounded-circle"/>
                        <span class="d-none d-md-block dropdown-toggle ps-2">
                           Hallo, {{ current_user.nama }}
                        </span>
                    </a>
                    <!-- End Profile Image Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ current_user.nama }}</h6>
                            <span>{{ current_user.role }}</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ url_for('views.update_account_admin', user_id=current_user._id) }}">
                                <i class="bi bi-gear"></i>
                                <span>Edit Account</span>
                            </a>
                        </li>
                        
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" onclick="confirmLogout()">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <script>
        function confirmLogout() {
            const userName = "{{ current_user.nama }}";
            Swal.fire({
                icon: 'warning',
                title: `Hallo ${userName}, apakah anda yakin ingin logout?`,
                showCancelButton: true,
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak',
                customClass: {
                  confirmButton: 'btn btn-success',
                  cancelButton: 'btn btn-danger'
              },
              buttonsStyling: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{{ url_for('logout') }}";
                }
            });
        }
    </script> 