<!-- Header -->
{% include '/penyewa/dashboard/header.html' %}

<!-- Sidebar -->
{% include '/penyewa/dashboard/navbar_homepage.html' %}

<!-- Start Main -->
<main id="main" class="main">    
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="pagetitle">
                <h1>Tambah Keluhan</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('views.homepage') }}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('views.penyewa_keluhan') }}">Keluhan</a></li>
                    <li class="breadcrumb-item active">Tambah Keluhan</li>
                  </ol>
                </nav>
              </div><!-- End Page Title -->

               <!-- Alert untuk menampilkan pesan error -->
                <div
                id="error-alert"
                class="alert alert-danger mt-2"
                style="display: none"
              ></div>
  
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">INPUT DATA KELUHAN</h5>
  
                  <!-- Multi Columns Form -->
                  <form class="row g-3" id="form-keluhan" action="{{ url_for('views.tambah_keluhan_penyewa') }}" method="POST" enctype="multipart/form-data">
                    <!-- Nama Penghuni -->
                    <div class="col-md-6">
                      <label for="inputPenghuni" class="form-label">Nama Penghuni</label>
                      <input type="text" id="inputPenghuni" class="form-control" name="penghuni" value="{{ current_user.nama }}" readonly>
                      <input type="hidden" name="penghuni_id" value="{{ current_user._id }}"> <!-- Hidden input untuk penghuni_id -->
                      <div id="nama-alert" class="alert alert-danger mt-2" style="display: none;">Nama penghuni harus dipilih !!!</div>
                    </div>
                    
                    <div class="col-md-6">
                      <label for="kontrakan" class="form-label">Nama Kontrakan</label>
                      <select class="form-control" id="kontrakan" name="kontrakan">
                        <option selected value="">Pilih Kontrakan...</option>
                        {% for k in kontrakan %}
                          <option value="{{ k._id }}">{{ k.nama_kontrakan }}</option>
                        {% endfor %}
                      </select>
                      <div id="kontrakan-alert" class="alert alert-danger mt-2" style="display: none">Nama kontrakan harus dipilih.</div>
                    </div>

                    <div class="col-md-6">
                      <label for="tgl_keluhan" class="form-label">Tanggal Keluhan</label>
                      <input type="date" class="form-control" id="tgl_keluhan" name="tgl_keluhan">
                      <div id="tgl_keluhan-alert" class="alert alert-danger mt-2" style="display: none">Tanggal keluhan harus diisi.</div>
                    </div> 

                    <div class="col-md-12">
                      <label for="keluhan_penghuni" class="form-label">Keluhan Penghuni</label>
                      <textarea class="form-control" id="keluhan_penghuni" name="keluhan_penghuni" rows="4"></textarea>
                      <div id="keluhan_penghuni-alert" class="alert alert-danger mt-2" style="display: none">Keluhan penghuni harus diisi.</div>
                    </div>

                    <div class="col-md-12">
                      <label for="gambar_keluhan" class="form-label">Gambar Keluhan</label>
                      <input type="file" class="form-control" id="gambar_keluhan" name="gambar_keluhan" accept="image/*">
                      <img id="image-preview" src="#" alt="Preview" style="display: none; max-width: 200px; margin-top: 10px;">
                      <div id="gambar_keluhan-alert" class="alert alert-danger mt-2" style="display: none">Gambar keluhan harus dipilih.</div>
                    </div>

                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-success" onclick="validateForm()">Tambah Data</button>
                      <a href="{{ url_for('views.penyewa_keluhan') }}" class="btn btn-danger">Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
  
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- footer -->
{% include '/penyewa/dashboard/footer.html' %}

<script>
    function validateForm() { 

        var penghuni = document.getElementById("inputPenghuni").value;
        var kontrakan = document.getElementById("kontrakan").value;
        var tgl_keluhan = document.getElementById("tgl_keluhan").value;
         var gambar_keluhan = document.getElementById("gambar_keluhan").value;
        var keluhan_penghuni = document.getElementById("keluhan_penghuni").value;

        var isValid = true;

        if (penghuni === "") {
            document.getElementById("nama-alert").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("nama-alert").style.display = "none";
        }

        if (kontrakan === "") {
            document.getElementById("kontrakan-alert").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("kontrakan-alert").style.display = "none";
        }

        if (tgl_keluhan === "") {
            document.getElementById("tgl_keluhan-alert").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("tgl_keluhan-alert").style.display = "none";
        }
  
        if (gambar_keluhan === "") {
            document.getElementById("gambar_keluhan-alert").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("gambar_keluhan-alert").style.display = "none";
        }

        if (keluhan_penghuni === "") {
            document.getElementById("keluhan_penghuni-alert").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("keluhan_penghuni-alert").style.display = "none";
        }

        if (isValid) {
          Swal.fire({
            title: 'Success',
            text: 'Data Keluhan Berhasil Ditambahkan!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
             document.getElementById("form-keluhan").submit(); // Submit form
          });
        } else { 
            Swal.fire({
              title: "Error",
              text: "Data Keluhan Gagal Ditambahkan!",
              icon: "error",
              confirmButtonText: "OK",
            });
        }
    }

    // Preview gambar ketika dipilih
    document.getElementById("gambar_keluhan").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("image-preview").src = e.target.result;
            document.getElementById("image-preview").style.display = "block";
        };

        reader.readAsDataURL(this.files[0]);
    };
</script>
